{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}
<br>
<br>
{% block main %}
  <h1>History</h1>
  <br>
  <br>
   <p>
     <strong>Книжный магазин Блэка</strong> — маленький книжный магазин, которым владеет ирландец Бернард Блэк, любящий выпить и покурить. К тому же он терпеть не может покупателей, что отражается на внешнем виде магазинчика: книги кучами свалены на полу и столе, а сам товар никак не упорядочен. На двери постоянно висит табличка «Закрыто». Стиль жизни Бернарда является центральной темой сериала.
     В магазине также живёт и работает Мэнни Бьянко — длинноволосый старательный, но неуклюжий помощник Бернарда. Он является полной противоположностью Бернарду: практичен, легко ладит с людьми и умеет продавать книги. Мэнни сильно привязан к Бернарду, что зачастую мешает ему общаться с другими людьми и найти девушку. Экстраверт Мэнни и интроверт Бернард постоянно конфликтуют на почве своего мировосприятия, но тем не менее не могут долго обходиться друг без друга.
     Третья в компании — Фрэн Катценджаммер, хозяйка соседнего магазинчика и самый старый друг Бернарда. Она мечтает устроить личную жизнь, но у неё никак это не получается отчасти из-за собственного характера, отчасти из-за катастрофического невезения. Она не перестаёт курить и пить дешёвое вино в компании Бернарда и Мэнни, что порождает немало смешных моментов.
  </p>
  <nav class="navbar navbar-light bg-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">back to shop</a>
    </li>
  </nav>

{% endblock %}

