<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      Base Title
    {% endblock %}
  </title>

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  >
  {% block head %}

  {% endblock %}
</head>
<body>
<main>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Black Books</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for endpoint, title in [
                              ('books_app.history', 'History'),
                              ('books_app.list', 'Books'),
                            ] %}

              {% set path = url_for(endpoint) %}
              {% set is_current_path = path == request.path %}

              <li class="nav-item">
                <a
                  class="nav-link {{ 'active' if is_current_path }}"
                  aria-current="page"
                  href="{{ path }}"
                >{{ title }}
                </a>
              </li>
            {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="my-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ 'primary' if category == 'message' else category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block main %}
    {% endblock %}
  </div>
</main>
</body>
<script
  src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
>
</script>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</html>