{% extends 'base.html' %}

{% block title %}
    Add book
{% endblock %}

{% block main %}
    <div class="h1 m-sm-3">Add a new book</div>

    <form method="post"
{#          class="form-control"#}
          class="form-control row row-cols-1"
    >
        <label for="book-name-id" class="form-label">Book name:</label>
        <input type="text" class="form-control my-3"
               id="book-name-id" name="book_name">

        <input type="submit" class="btn btn-dark my-3" value="Create">
    </form>

    <br>
    <nav class="navbar navbar-light bg-light">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('books_app.list') }}">Back to books list</a>
    </nav>
{% endblock %}